<!-- Modals -->
<div class="modal modal1">
	<div class="modal__content">
		<button class="modal__close" aria-label="Close">
			<svg class="modal__close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path
					d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
				/>
			</svg>
		</button>
		<!-- /.modal__close -->

		<h2 class="modal__title">Модальное окно 1</h2>
		<!-- /.modal__title -->

		<div class="modal__container">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga iure est unde mollitia ratione quos.</p>
		</div>
		<!-- /.modal__container -->
	</div>
	<!-- /.modal__content -->
</div>
<!-- /.modal -->
