{
	"extends": "airbnb-base",
	"parser": "@babel/eslint-parser",
	"env": {
		"browser": true,
		"jquery": true
	},
	"rules": {
		"indent": [4, "tab"],
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": ["gulpfile.babel.js"]
			}
		]
	}
}
