// Указываем box sizing
*,
*::before,
*::after {
	box-sizing: border-box;
}

// Убираем внешние отступы
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

// Выставляем основные настройки по-умолчанию для body
body {
	min-width: 320px;
	min-height: 100vh;

	line-height: 1.5;
	scroll-behavior: smooth;
	text-rendering: optimizespeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class
ul[class],
ol[class] {
	margin: 0;
	padding: 0;

	list-style: none;
}

// Элементы a, у которых нет класса, сбрасываем до дефолтных стилей
a:not([class]) {
	text-decoration-skip-ink: auto;
}

// Упрощаем работу с изображениями
img {
	display: block;
	max-width: 100%;
	height: auto;
}

// Указываем понятную периодичность в потоке данных у article
article > * + * {
	margin-top: 1em;
}

// Наследуем шрифты для инпутов и кнопок
input,
button,
textarea,
select {
	font: inherit;
}

textarea {
	resize: vertical;
}

.lock {
	overflow: hidden;
}

// Удаляем все анимации и переходы для людей, которые предпочитай их не использовать
@media (prefers-reduced-motion: reduce) {
	* {
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
	}
}
