@use '../utils' as *;

// Mediaqueris
@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

// Fonts
@mixin font-face($font-name, $file-name, $weight) {
	@font-face {
		font-weight: #{$weight};
		font-family: $font-name;
		font-style: normal;
		src: url('../fonts/#{$file-name}.woff2') format('woff2');

		// url('../fonts/#{$file-name}.woff') format('woff');
		font-display: swap;
	}
}

// Size
@mixin size($a, $b: $a) {
	width: $a;
	height: $b;
}

// Typography
@mixin before-circle {
	&::before {
		position: absolute;
		top: -24%;

		// left: 0;
		z-index: -1;

		width: 36px;
		height: 36px;
		margin-left: -10px;

		background: $color-primary;
		border-radius: 100%;

		content: '';
	}
}

@mixin title-divider($img-src) {
	&::after {
		display: block;
		height: 6px;
		margin-top: 10px;

		background: url($img-src) 50% 50% no-repeat;

		content: '';
	}
}

@mixin letter-spacing-fix($spacing) {
	margin-right: -$spacing;

	letter-spacing: $spacing;
}

@mixin heading-shadow($heading-shadow-size) {
	text-shadow: 0 $heading-shadow-size 0 rgb(0 0 0 / 7%);
}

// Background
@mixin cover-bg($img-src) {
	background: url($img-src) center (center/cover) no-repeat;
}

@mixin bg($color-bg) {
	position: relative;
	z-index: 1;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		display: block;
		width: 100%;
		height: 100%;

		background: $color-bg;

		content: '';
	}
}
