// Global stylesheet where we will @use all other stylesheets
// ----------------------------------------
//  Table of contents
// --- Variables
// --- Vendor imports
// --- Base imports
// --- Component imports
// --- Layout imports

@charset 'UTF-8';

// Variables
@use 'abstracts/variables';

// Vendor imports
// @use 'swiper/swiper';
// @use 'swiper/modules/navigation/navigation';
// @use 'swiper/modules/pagination/pagination';

// Base
@use 'base';

// Components
@use 'components';

// Layouts
@use 'layout';

body {
	font-weight: 600;
	text-align: center;
}

.section-1 {
	height: 800px;
}
